* {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.--p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.--bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
}

.--h2 {
  font-family: "Bebas Neue Regular";
  max-width: 700px;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #292D33;
}

.--h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 44.8px;
  color: #292D33;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  min-height: 100vh;
  padding: 94px 0px 0px 0px;
}

.header-image {
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.header-image::after {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  width: 100%;
  z-index: 2;
  transition: background-color 0.5s, height 0.5s;
}

/*light*/
.navbar-light {
  background-color: #FAFBFC;
  color: #292D33;
  border-bottom: none;
  height: 74px;
}

.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
  transition: padding 0.5s;
}

/*light*/
.header-logo-light {
  padding: 15px 50px;
  border-right: 1px solid rgb(235, 235, 240);
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-link {
  text-decoration: none;
  color: inherit;
}

.header-phone {
  margin-right: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /*Чтобы не сжимался*/
  gap: 10px;
  /*Отступ между иконкой и номером*/
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  flex-shrink: 0;
  background-color: #3a71d1;
  color: #fff;
  border: none;
  padding: 25px 45px;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 94px;
  transition: height 0.5s;
}

/*light*/
.navbar-button-light {
  height: 74px;
}

.seporator {
  width: 150px;
  height: 2px;
  background-color: #5C8EE6;
  margin-left: 7px;
}

.header-content {
  padding: 150px 0px 0px 0px;
  color: #fff;
}

.header-title {
  font-family: "Bebas Neue Regular";
  margin: 22px 9px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
}

.header-text {
  margin: 40px 0px 50px 9px;
  max-width: 720px;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
}

.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin: 100px 0px 0px 0px;
  color: #fff;
  list-style: none;
}

.header-button {
  padding: 25px 62px;
  margin-left: 7px;
}

.header-features-item {
  padding: 30px 50px 30px 50px;
  min-width: 288px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.section-light {
  margin: 150px 0px 150px 0px;
}

.section-title {
  margin: 30px 0px 50px 0px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue Regular";
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  color: #5C8EE5;
}

.steps-num::after {
  content: "";
  display: block;
  width: 260px;
  height: 1px;
  background-color: #EBEBF0;
  margin-left: 30px;
}

.steps-title {
  margin: 30px 0px 10px 0px;
}

.steps-text {
  color: #828A99;
  margin: 0px 0px 20px 0px;
}

.steps-link {
  display: flex;
  align-items: center;
  color: #5C8EE5;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 1px;
  background-color: #5C8EE5;
}