* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.--p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.--bold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.--h2 {
  font-family: "Bebas Neue Regular";
  max-width: 43.75rem;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #292D33;
}

.--h3 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.8rem;
  color: #292D33;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.mobile-menu {
  display: none;
}

.header {
  min-height: 100vh;
  padding: 0;
  padding-top: 5.875rem;
}

.header-image {
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 0;
}

.header-image::after {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  width: 100%;
  z-index: 2;
  transition: background-color 0.5s, height 0.5s;
}

/*light*/
.navbar-light {
  background-color: #FAFBFC;
  color: #292D33;
  border-bottom: none;
  height: 4.625rem;
}

.navbar-logo {
  padding: 1.5625rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
  transition: padding 0.5s;
}

.navbar-logo .logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

/*light*/
.navbar-logo-light {
  padding: .9375rem 3.125rem;
  border-right: 1px solid rgb(235, 235, 240);
}

.navbar-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.navbar-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.navbar-nav-link {
  text-decoration: none;
  color: inherit;
}

.navbar-phone {
  margin-right: 3.125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /*Чтобы не сжимался*/
  gap: .625rem;
  /*Отступ между иконкой и номером*/
}

.navbar-phone .logo-svg {
  width: 1rem;
  height: 1.0625rem;
  fill: #5C8EE6;
}

.button-icon {
  display: none;
}

.navbar-phone-link {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  flex-shrink: 0;
  background-color: #3a71d1;
  color: #fff;
  border: none;
  padding: 1.5625rem 2.8125rem;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 5.875rem;
  transition: height 0.5s;
}

/*light*/
.navbar-button-light {
  height: 4.625rem;
}

.seporator {
  width: 9.375rem;
  height: .125rem;
  background-color: #5C8EE6;
  margin-left: .4375rem;
}

.header-content {
  padding: 0;
  padding-top: 9.375rem;
  color: #fff;
}

.header-title {
  font-family: "Bebas Neue Regular";
  margin: 1.375rem .5625rem;
  max-width: 67.5rem;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
}

.header-text {
  margin: 2.5rem 0rem 3.125rem .5625rem;
  max-width: 45rem;
  letter-spacing: .0063rem;
  word-spacing: .0313rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin: 0;
  margin-top: 6.25rem;
  color: #fff;
  list-style: none;
}

.header-button {
  padding: 1.5625rem 3.875rem;
  margin-left: .4375rem;
}

.header-features-item {
  padding: 1.875rem 3.125rem;
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item .logo-svg-1 {
  width: 1.3125rem;
  height: 1.75rem;
}

.header-features-item .logo-svg-2 {
  width: 1.8125rem;
  height: 1.8125rem;
}

.header-features-item .logo-svg-3 {
  width: 1.5625rem;
  height: 1.75rem;
}

.header-features-item .logo-svg-4 {
  width: 2.1875rem;
  height: 1.5625rem;
}

.header-features-item .logo-svg-5 {
  width: 2rem;
  height: 1.5625rem;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.section-light {
  margin: 9.375rem 0;
}

.section-title {
  margin: 1.875rem 0rem 3.125rem 0rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps-item {
  width: 20.625rem;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue Regular";
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #5C8EE5;
}

.steps-num::after {
  content: "";
  display: block;
  width: 100%;
  height: .0625rem;
  background-color: #EBEBF0;
  margin-left: 1.875rem;
}

.steps-title {
  margin: 1.875rem 0rem .625rem 0rem;
}

.steps-text {
  color: #828A99;
  margin: 0rem 0rem 1.25rem 0rem;
}

.steps-link {
  display: flex;
  align-items: center;
  color: #5C8EE5;
  text-decoration: none;
}

.steps-link::before {
  content: "";
  display: inline-block;
  margin-right: 1.25rem;
  width: 2.5rem;
  height: .0625rem;
  background-color: #5C8EE5;
}

@media (max-width: 1700px) {
  * {
    font-size: 14px;
  }

  .navbar-logo {
    padding: 1.5625rem 2.5rem;
  }

  .navbar-logo-light {
    padding: .9375rem 2.5rem;
  }

  .header-title {
    color: red;
  }
}

@media (max-width: 1460px) {
  * {
    font-size: 13px;
  }

  .navbar-logo {
    padding: 1.875rem;
  }

  .navbar-logo .logo-svg {
    width: 6rem;
  }

  .navbar-logo-light {
    padding: .9375rem 2rem;
  }

  .navbar-nav {
    padding-left: 2rem;
  }

  .navbar-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .navbar-phone {
    margin-right: 2rem;
  }

  .header-title {
    color: blue;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }

  .navbar-logo {
    padding: 1rem;
  }

  .navbar {
    height: 5rem;
  }

  .navbar-nav {
    padding-left: 1rem;
  }

  .navbar-phone {
    display: none;
  }

  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 5rem;
  }
}

@media (max-width: 992px) {
  * {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6875rem 1.875rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .mobile-menu-line {
    height: 2px;
    background-color: #fff;
    width: 100%;
  }

  .navbar-light .mobile-menu-toggle {
    border-right: 1px solid rgb(235, 235, 240);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
    border-right: 1px solid rgb(235, 235, 240);
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .navbar-button .button-text {
    display: none;
  }

  .button-icon {
    display: block;
    width: 1rem;
    height: 1.0625rem;
    fill: #fff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 15px;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .--bold_mob {
    font-weight: 700;
    font-size: 14px;
    line-height: 22.4px;
    color: #292D33;
  }

  .--p_mob {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    color: #828A99;
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-item {
    margin-bottom: 1.875rem;
  }

  .mobile-menu-link {
    text-decoration: none;
  }

  .mobile-submenu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 35px;
  }

  .mobile-submenu-item {
    margin-bottom: 10px;
  }

  .mobile-submenu-link {
    text-decoration: none;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #292D33;
    text-decoration: underline;
    border-top: 1px solid #EBEBF0;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .mobile-info {
    margin-top: 1.3125rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10px;
  }

  .mobile-info .mobi-svg-1 {
    width: 12px;
    height: 17px;
  }

  .mobile-info-address {
    color: #292D33;
    font-style: normal;
  }

  .mobile-info .mobi-svg-2 {
    width: 16px;
    height: 12px;
  }

  .mobile-info-mail {
    text-decoration: none;
    color: #292D33;
  }

  .mobile-info .mobi-svg-3 {
    width: 20px;
    height: 12px;
  }

  .mobile-info .mobi-svg-4 {
    width: 16px;
    height: 16px;
  }
}

/*
@media (min-width:1400px) and (max-width: 1720px) {
  * {
    font-size: 13px;
  }

  .header-title {
    color: red;
  }
}

@media (min-width:1200px) and (max-width: 1399px) {
  * {
    font-size: 11px;
  }

  .header-title {
    color: blue;
  }
}

@media (min-width:992px) and (max-width: 1199px) {
  * {
    font-size: 9.4px;
  }

  .header-title {
    color: yellow;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  * {
    font-size: 7px;
  }

  .header-title {
    color: purple;
  }
}
*/